<h1>Listing recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Serves</th>
      <th>Cost</th>
      <th>Made by</th>
      <th>Last made</th>
      <th>Ingredients</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.serves %></td>
        <td><%= number_to_currency(recipe.cost) %></td>
        <td><%= recipe.made_by %></td>
        <td><%= recipe.last_made %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= link_to "My Image", "/assets/#{recipe.image}" %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
