<div class="menu">
	<ul>
		<li><%=link_to_unless_current "Home", page_home_path %></li>
		<li><%=link_to_unless_current "About us", page_about_us_path %></li>
		<li><%=link_to_unless_current "Recipes", recipes_path %></li>
		<li><%=link_to_unless_current "Articles", page_articles_path %></li>
		<li><%=link_to_unless_current "Calendar", page_calendar_path %></li>
		<li><%=link_to_unless_current "Blog", page_blog_path %></li>
		<li><%=link_to_unless_current "Log in", page_login_path %></li>
	</ul>
</div>